.header__logo {
    max-width: 415px;
}

@media screen and (max-width: 1439px) {
    .header__logo {
        max-width: 297px;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        max-width: 237px;
    }
}