.cards__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(24px);
    border-radius: 16px;
}

@media screen and (max-width: 1439px) {
    .cards__item {
        gap: 8px;
        padding: 8px;
        border-radius: 12px;
    }
}
